<div class="h-full w-full container flex flex-col items-center">
    <mat-card class="homepage-card" >
        <div class="container flex flex-col items-center justify-around h-full">
            <div class="homepage-card-img-text-container container flex">
                <img class="w-400px" src="https://assets.mockflow.com/app/wireframepro/company/Ccd79e117569c2f8484e66e1c993d336f/projects/M270a09c2adf260f57995ac1a38a023591602602692657/images/M697c5822df77a96156a6c4a099fac2581602603869000" title="gift-image" alt="gifts">
                <div>
                    <mat-icon>card_giftcard</mat-icon>
                    <p>Simple Card</p>
                </div>
            </div>
            <div class="contaainer flex flex-col items-center justify-between">
                <button class="w-full my-2 py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-red-400">S'inscrire</button>
                <button class="w-full my-2 py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-red-400">Se connecter</button>
            </div>
        </div>
    </mat-card>
</div>