<section class="h-full flex flex-col flex flex-col items-center form-section">
    <h2 class="section-title">Enregistre-toi !</h2>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="form flex flex-col items-center h-full justify-evenly ">
    <div class="form-field-container flex flex-col items-center">
        <mat-form-field style="text-align: center;" class="form-field">
            <mat-label >pseudo</mat-label>
            <input type="pseudo" matInput formControlName="pseudo" 
                placeholder="Patouche">
        </mat-form-field>
        <div *ngIf="signupForm.controls['pseudo'].hasError('required')  && signupForm.controls['pseudo'].touched ">
           <p class="text-red-400"> Le pseudo est <strong>obligatoire</strong> </p>
        </div>
    </div>
    <div class="form-field-container flex flex-col items-center">
        <mat-form-field style="text-align: center;" class="form-field">
            <mat-label>Email</mat-label>
            <input type="email" matInput formControlName="email" 
                    placeholder="Ex. pat@example.com">
        </mat-form-field>
        <div *ngIf="signupForm.controls['email'].hasError('email') && !signupForm.controls['email'].hasError('required')">
            <p class="text-red-400">email non valide</p>
        </div>
        <div *ngIf="signupForm.controls['email'].hasError('required') && signupForm.controls['email'].touched ">
            <p class="text-red-400">l'email est obligatoire</p>
        </div>
    </div>
    <div class="form-field-container flex flex-col items-center">
        <mat-form-field style="text-align: center;" class="form-field">
            <mat-label>Mot de passe</mat-label>
            <input type="password" matInput formControlName="password" >
        </mat-form-field>
        <div *ngIf="signupForm.controls['password'].hasError('password') && !signupForm.controls['password'].hasError('required')">
            <p class="text-red-400">Le mot de passe doit contenir une majuscule</p>
        </div>
        <div *ngIf="signupForm.controls['password'].hasError('required') && signupForm.controls['password'].touched ">
            <p class="text-red-400">Le mot de passe est obligatoire</p>
        </div>
    </div>
    <button *ngIf="signupForm.valid" type="submit" class="w-full my-2 py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-red-400">Valider</button>
    </form>
</section>
