@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


button:hover {
    background-color: white;
    color: var(--main-color, #F87171);
}

button:focus{
    outline: none;
}

@media (min-width: 800px) { 
    .form{
        width: 30%;
    }
    .form-field-container{
        width: 100%;
    }

    .form-field{
        width: 100%;
    }
}